<div>
	<ul class="list-group">
		<li ng-repeat="question in questions | orderByPriority" class="list-group-item">

			<h4>{{question.question}}</h4>
			<div>
				<input type="radio" name="{{question.$id}}-answer" value="0" />
				{{question.option1}}
			</div>
			<div>
				<input type="radio" name="{{question.$id}}-answer" value="1" />
				{{question.option2}}
			</div>
			<div>
				<input type="radio" name="{{question.$id}}-answer" value="2" />
				{{question.option3}}
			</div>
		</li>
	</ul>
	<div class="clearfix">
			<a class="pull-right" href='#/questions/new'><span class="glyphicon glyphicon-plus"></span> Add new question</a>
	</div>
</div>


